@using plane.Models
@model plane.Models.PostViewModel
<br>
<br>
<h1>Welcome, @ViewBag.usr</h1>
<br>
<form asp-controller="Post" asp-action="Add" method="post">
     <p>
       <label asp-for="postContent">Post Something Witty Here:</label>
        <input asp-for="postContent">
        <span class="text-danger" asp-validation-for="postContent"></span>
        <button class="btn btn-sm btn-primary">Idea!</button>
    </p>
</form>
<br>
<br>
@foreach (var post in @ViewBag.posts)
{ <div>
  <p>
  <a asp-action="ShowUser" asp-controller="User" asp-route-UserID="@post["userID"]">@post["owner"]</a> says: @post["postContent"] 
  
  </p>
  <p>
  @if (post["owned"])
        {
          <a asp-action="Delete" asp-controller="Post" asp-route-PostID="@post["postID"]"><button class="btn btn-info">Delete</button></a>
        }
  else
      {
        <a asp-action="Like" asp-controller="Post" asp-route-PostID="@post["postID"]"><button class="btn btn-info">Like</button></a>
      }
  
<a asp-action="Display" asp-controller="Post" asp-route-PostID="@post["postID"]">@post["likes"] peeps</a> "like" this!</p>
  </div>}


@if (ViewBag.errorMsg != null)
{
    <p class="text-danger">@ViewBag.errorMsg</p>
}





<p>@TempData["String"]</p>
